<?xml version="1.0" encoding="UTF-8"?>

<!--
    This is the Creative SignalRGB Bridge Plugin/Service.
    Copyright © 2023 Harrison Boyd

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>
-->

<?define Name = "Creative SignalRGB Bridge" ?>


<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="$(Name)"
        Manufacturer="Prismo"
        Version="V2.0.0.0"
        UpgradeCode="c04a0f76-b793-4ab0-80c7-d37943f19888"
        Compressed="true">

		<MediaTemplate EmbedCab="yes" />

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
        </StandardDirectory>

        <!-- Reference to Documents Folder -->
		<StandardDirectory Id="PersonalFolder">
			<Directory Id="WhirlwindFXFolder" Name="WhirlwindFX">
				<Directory Id="PluginsFolder" Name="Plugins">
					<Directory Id="BridgeFolder" Name="Creative PCIE Bridge">
						<Component Id="BridgeFiles" Guid="d02b0aac-055c-40f8-9384-7d55333fe21c" Directory="BridgeFolder">
							<File Id="BridgeJsFile" Source="$(var.SolutionDir)Creative PCIE Bridge.js" />
							<File Id="BridgeQmlFile" Source="$(var.SolutionDir)Creative PCIE Bridge.qml" />
							<RegistryValue Root="HKCU" Key="Software\Creative SignalRGB Bridge" Name="installed" Type="integer" Value="1" KeyPath="yes" />
                            
							<RemoveFile Id="RemoveBridgeJsFile" Name="Creative PCIE Bridge.js" On="uninstall" />
							<RemoveFile Id="RemoveBridgeQmlFile" Name="Creative PCIE Bridge.qml" On="uninstall" />
							<RemoveFolder Id="RemovePluginFolder" Directory="BridgeFolder" On="uninstall" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</StandardDirectory>
		
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="ServiceExecutable" Bitness="always64" Guid="94397727-4EBA-47D6-8155-5AF2CAF76039">

                <File Id="CreativeSignalRGBBridgeFile"
                        Source="$(var.Creative_SignalRGB_Bridge_Service.TargetDir)publish\win-x64\Creative SignalRGB Bridge.exe"
                        KeyPath="true" />

                <File Id="FirmwareUtilityFile"
                      Source="$(var.Creative_SignalRGB_Bridge_Service.ProjectDir)cudsp600_firmware_utility.exe"
                      KeyPath="false" />

				<File Id="AppSettings"
				      Source="$(var.Creative_SignalRGB_Bridge_Service.ProjectDir)appsettings.json"
				      KeyPath="false" />
				
                <ServiceInstall Id="CreativeSignalRGBBridgeService"
                                Type="ownProcess"
                                Name="Creative SignalRGB Bridge"
                                DisplayName="$(Name)"
                                Description="Allows SignalRGB to control the RGB Leds on some creative PCIE devices"
                                Start="auto"
                                ErrorControl="normal" />

                <ServiceControl Id="CreativeSignalRGBBridgeService"
                                Start="install"
                                Stop="both"
                                Remove="uninstall"
                                Name="Creative SignalRGB Bridge"
                                Wait="true" />
				
				<RemoveFile Id="ALLFILES" Name="*.*" On="both" />
				<RemoveFile Id="FirmwareUtilityFile" Name="cudsp600_firmware_utility.exe" On="uninstall" />
				<RemoveFile Id="CreativeSignalRGBBridgeFile" Name="CreativeSignalRGBBridge" On="uninstall" />
                <RemoveFile Id="AppSettings" Name="appsettings.json" On="uninstall" />
            </Component>
        </DirectoryRef>

        <Feature Id="Service" Title="Creative SignalRGB Bridge" Level="1">
            <ComponentRef Id="ServiceExecutable" />
            <ComponentRef Id="BridgeFiles" />
        </Feature>
    </Package>
</Wix>
