<?xml version="1.0" encoding="UTF-8"?>

<?define Name = "Creative SignalRGB Bridge" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="$(Name)"
		Manufacturer="Prismo"
		Version="!(bind.fileVersion.CreativeSignalRGBBridge)"
		UpgradeCode="c04a0f76-b793-4ab0-80c7-d37943f19888"
		Compressed="true">
	<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

	<StandardDirectory Id="ProgramFiles6432Folder">
		<Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
	</StandardDirectory>


	<DirectoryRef Id="INSTALLFOLDER">

		<Component Id="ServiceExecutable" Bitness="always64">

			<File Id="CreativeSignalRGBBridge"
                    Source="$(var.Creative_SignalRGB_Bridge_Service.TargetDir)Creative SignalRGB Bridge.exe"
                    KeyPath="true" />

			<RemoveFile Id="ALLFILES" Name="*.*" On="both" />

			<ServiceInstall Id="ServiceInstaller"
                            Type="ownProcess"
                            Name="Creative SignalRGB Bridge"
                            DisplayName="$(Name)"
                            Description="Allows a SignalRGB to control the RGB Leds on some creative PCIE devices"
                            Start="auto"
                            ErrorControl="normal" />

			<ServiceControl Id="StartService"
                            Start="install"
                            Stop="both"
                            Remove="uninstall"
                            Name="Creative SignalRGB Bridge"
                            Wait="true" />
		</Component>
	</DirectoryRef>

	<Feature Id="Service" Title="Creative SignalRGB Bridge" Level="1">
		<ComponentRef Id="ServiceExecutable" />
	</Feature>
	  
	</Package>
</Wix>
